#include "cinder.dtsi"

&pcie_ep {
	/delete-property/ sriov-mask;
	qcom,pcie-parf-msi-vf-indexed;
	qcom,db-fwd-off-varied;
};

&mhi_device {
	qcom,mhi-ifc-id = <0x060117cb>;
	interrupts = <GIC_SPI 587 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 589 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 590 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 591 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 592 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 593 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 594 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 595 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 596 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 597 IRQ_TYPE_LEVEL_HIGH>,
			<GIC_SPI 598 IRQ_TYPE_LEVEL_HIGH>;
	interrupt-names = "mhi-virt-device-int-4",
			"mhi-virt-device-int-5", "mhi-virt-device-int-6",
			"mhi-virt-device-int-7", "mhi-virt-device-int-8",
			"mhi-virt-device-int-9", "mhi-virt-device-int-10",
			"mhi-virt-device-int-11", "mhi-virt-device-int-12",
			"mhi-virt-device-int-13", "mhi-virt-device-int-14",
			"mhi-virt-device-int-15";
};

&gcc {
	compatible = "qcom,cinder-gcc-v2", "syscon";
};

&debugcc {
	compatible = "qcom,cinder-debugcc-v2", "syscon";
};

&ecpricc {
	compatible = "qcom,cinder-ecpricc-v2", "syscon";
};
