#include "quin-vm-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Direwolf Virtual Machine";
	qcom,msm-name = "SA_DIREWOLF_IVI";
	qcom,msm-id = <460 0x10000>;
};

&regulator {
	virt_regulator {
		compatible = "virtio,device31";

		gcc_usb30_prim_gdsc: gcc_usb30_prim_gdsc {
			regulator-name = "gcc_usb30_prim_gdsc";
		};

		gcc_usb30_sec_gdsc: gcc_usb30_sec_gdsc {
			regulator-name = "gcc_usb30_sec_gdsc";
		};

		gcc_usb30_mp_gdsc: gcc_usb30_mp_gdsc {
			regulator-name = "gcc_usb30_mp_gdsc";
		};

		gcc_pcie_2a_gdsc: gcc_pcie_2a_gdsc {
			regulator-name = "gcc_pcie_2a_gdsc";
		};

		gcc_pcie_2b_gdsc: gcc_pcie_2b_gdsc {
			regulator-name = "gcc_pcie_2b_gdsc";
		};

		gcc_pcie_3a_gdsc: gcc_pcie_3a_gdsc {
			regulator-name = "gcc_pcie_3a_gdsc";
		};

		gcc_pcie_3b_gdsc: gcc_pcie_3b_gdsc {
			regulator-name = "gcc_pcie_3b_gdsc";
		};

		gcc_pcie_4_gdsc: gcc_pcie_4_gdsc {
			regulator-name = "gcc_pcie_4_gdsc";
		};

		L3A0: pm8540_a0_l3: regulator-pm8540_a0-l3 {
			regulator-name = "ldoa3";
			regulator-min-microvolt = <1140000>;
			regulator-max-microvolt = <1260000>;
		};

		S4E0: pm8540_e0_s4: regulator-pm8540_e0-s4 {
			regulator-name = "smpe4";
			regulator-min-microvolt = <320000>;
			regulator-max-microvolt = <2040000>;
		};

		L5A0: pm8540_a0_l5: regulator-pm8540_a0-l5 {
			regulator-name = "ldoa5";
			regulator-min-microvolt = <720000>;
			regulator-max-microvolt = <950000>;
		};

		L6G0: pm8540_g0_l6: regulator-pm8540_g0-l6 {
			regulator-name = "ldog6";
		};

		L7A0: pm8540_a0_l7: regulator-pm8540_a0-l7 {
			regulator-name = "ldoa7";
			regulator-min-microvolt = <1620000>;
			regulator-max-microvolt = <1980000>;
		};

		L11A0: pm8540_a0_l11: regulator-pm8540_a0-l11 {
			regulator-name = "ldoa11";
			regulator-min-microvolt = <830000>;
			regulator-max-microvolt = <920000>;
		};

		L13A0: pm8540_a0_l13: regulator-pm8540_a0-l13 {
			regulator-name = "ldoa13";
			regulator-min-microvolt = <2970000>;
			regulator-max-microvolt = <3544000>;
		};

		L1C0: pm8540_c0_l1: regulator-pm8540_c0-l1 {
			regulator-name = "ldoc1";
			regulator-min-microvolt = <720000>;
			regulator-max-microvolt = <950000>;
		};

		L7C0: pm8540_c0_l7: regulator-pm8540_c0-l7 {
			regulator-name = "ldoc7";
			regulator-min-microvolt = <1620000>;
			regulator-max-microvolt = <1980000>;
		};

		L2C0: pm8540_c0_l2: regulator-pm8540_c0-l2 {
			regulator-name = "ldoc2";
			regulator-min-microvolt = <2970000>;
			regulator-max-microvolt = <3544000>;
		};

		L15A0: pm8540_a0_l15: regulator-pm8540_a0-l15 {
			regulator-name = "ldoa15";
		};

		L7G0: pm8540_g0_l7: regulator-pm8540_g0-l7 {
			regulator-name = "ldog7";
			regulator-min-microvolt = <1620000>;
			regulator-max-microvolt = <1980000>;
		};

		L4C0: pm8540_c0_l4: regulator-pm8540_c0-l4 {
			regulator-name = "ldoc4";
			regulator-min-microvolt = <1140000>;
			regulator-max-microvolt = <1260000>;
		};
	};
};
