/*
   this file is for attribution only of unicorn
   And public attribution of xiaomi platforms(like K2 and so and)
*/
#include "diting-pinctrl.dtsi"
#include "xiaomi-sm8475-common.dtsi"

&soc {
	fingerprint_goodix {
		compatible = "goodix,fingerprint";
		l1c_vdd-supply = <&L1C>;
                l3c_vdd-supply = <&L3C>;
		goodix,gpio-reset = <&tlmm 41 0x0>;
		goodix,gpio-irq = <&tlmm 40 0x0>;
		status = "ok";
	};
};
&L1C {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	qcom,init-voltage = <1800000>;
};

&L3C {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	qcom,init-voltage = <3300000>;
};
