/dts-v1/;
/plugin/;

#include "kalamap-hdk.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. KalamaP HDK";
	compatible = "qcom,kalamap-hdk", "qcom,kalamap", "qcom,hdk";
	qcom,msm-id = <536 0x10000>, <536 0x20000>, <601 0x20000>;
	qcom,board-id = <0x1001f 0>;
};
