/dts-v1/;

#include "khaje.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Khajeg SoC";
	compatible = "qcom,khajeg";
	qcom,msm-id = <585 0x10000>;
};
&soc {
	qcom,msm_gsi {
		status = "disabled";
	};

	qcom,rmnet-ipa {
		status = "disabled";
	};

	qcom,ipa_fws {
		status = "disabled";
	};

	ipa_hw: qcom,ipa@0x5800000 {
		status = "disabled";
	};
};
