#include <dt-bindings/gpio/gpio.h>

&tlmm {
	key_factory_reset {
		key_factory_reset_default: key_factory_reset_default {
			pins = "gpio22";
			function = "normal";
			input-enable;
			bias-pull-up;
		};
	};
};

&qupv3_se12_2uart {
		status = "ok";
};

&pcie2 {
		status = "ok";
		qcom,boot-option = <0x2>;
		qcom,core-preset = <0x77777777>;
};

&usb1 {
	/delete-property/ qcom,default-mode-none;
	dwc3@a800000 {
		dr_mode = "host";
	};
};

&usb2_phy0 {
	qcom,param-override-seq = <0x43 0x70>;
};
