&soc {
};

&hab {
	vmid = <3>;
};

&qupv3_se17_4uart {
	status = "okay";
};

&usb0 {
	status = "disabled";
};

&usb2_phy0 {
	status = "disabled";
};

&usb_qmp_phy0 {
	status = "disabled";
};

&usb1 {
	status = "disabled";
};

&usb2_phy1 {
	status = "disabled";
};

&usb_qmp_phy1 {
	status = "disabled";
};

&usb2 {
	status = "disabled";
};

&usb2_phy2 {
	status = "disabled";
};

&qcom_rng_ee3 {
	status = "okay";
};
