/*
   this file is for attribution only of unicorn
   And public attribution of xiaomi platforms(like K2 and so and)
*/
#include "mayfly-pinctrl.dtsi"
#include "xiaomi-sm8475-common.dtsi"

&qupv3_se15_i2c {
	status = "ok";

	/* TOP Smart PA */
	aw882xx_smartpa@34 {
		status = "ok";
		compatible = "awinic,aw882xx_smartpa";
		reg = <0x34>;
		irq-gpio = <&tlmm 118 0x2008>;
		dc-flag = <0>;
		/*0:pri_l 1:pri_r 2:sec_l 3:sec_r*/
		sound-channel = <0>;
		aw-tx-topo-id = <0x1000ff00>;
		aw-rx-topo-id = <0x1000ff01>;
		aw-tx-port-id = <0x1003>;
		aw-rx-port-id = <0x1002>;
		aw-re-min = <4000>;
		aw-re-max= <30000>;
		aw-cali-mode = "aw_attr";
	};

	/* BOT Smart PA */
	aw882xx_smartpa@35 {
		status = "ok";
		compatible = "awinic,aw882xx_smartpa";
		reg = <0x35>;
		irq-gpio = <&tlmm 63 0x2008>;
		dc-flag = <0>;
		/*0:pri_l 1:pri_r 2:sec_l 3:sec_r*/
		sound-channel = <1>;
		aw-tx-topo-id = <0x1000ff00>;
		aw-rx-topo-id = <0x1000ff01>;
		aw-tx-port-id = <0x1003>;
		aw-rx-port-id = <0x1002>;
		aw-re-min = <4000>;
		aw-re-max= <30000>;
		aw-cali-mode = "aw_attr";
	};
};
