#include <dt-bindings/thermal/thermal_qti.h>

&thermal_zones {
	pm5100-tz {
		cooling-maps {
			trip0_cpu0 {
				trip = <&pm5100_trip0>;
				cooling-device =
					<&CPU0 (THERMAL_MAX_LIMIT-2)
						(THERMAL_MAX_LIMIT-2)>;
			};

			trip1_cpu2 {
				trip = <&pm5100_trip0>;
				cooling-device = <&cpu2_isolate 1 1>;
			};

			trip1_cpu3 {
				trip = <&pm5100_trip0>;
				cooling-device = <&cpu3_isolate 1 1>;
			};
		};
	};

	pm5100-bcl-lvl0 {
		cooling-maps {
			cpu0_cdev {
				trip = <&bcl_lvl0>;
				cooling-device =
					<&CPU0 (THERMAL_MAX_LIMIT-5)
						(THERMAL_MAX_LIMIT-5)>;
			};

			cpu2_cdev {
				trip = <&bcl_lvl0>;
				cooling-device = <&cpu2_isolate 1 1>;
			};

			cpu3_cdev {
				trip = <&bcl_lvl0>;
				cooling-device = <&cpu3_isolate 1 1>;
			};

			gpu_cdev {
				trip = <&bcl_lvl0>;
				cooling-device = <&msm_gpu (THERMAL_MAX_LIMIT-2)
							(THERMAL_MAX_LIMIT-2)>;
			};
		};
	};

	pm5100-bcl-lvl1 {
		cooling-maps {
			cpu0_cdev {
				trip = <&bcl_lvl1>;
				cooling-device =
					<&CPU0 (THERMAL_MAX_LIMIT-4)
						(THERMAL_MAX_LIMIT-4)>;
			};

			cpu1_cdev {
				trip = <&bcl_lvl1>;
				cooling-device = <&cpu1_isolate 1 1>;
			};

			gpu_cdev {
				trip = <&bcl_lvl1>;
				cooling-device = <&msm_gpu THERMAL_MAX_LIMIT
							THERMAL_MAX_LIMIT>;
			};

			modem_cdev {
				trip = <&bcl_lvl1>;
				cooling-device = <&modem_pa 2 2>;
			};

			modem1_cdev {
				trip = <&bcl_lvl1>;
				cooling-device = <&modem_tj 1 1>;
			};
		};
	};

	pm5100-bcl-lvl2 {
		cooling-maps {
			modem_cdev {
				trip = <&bcl_lvl2>;
				cooling-device = <&modem_tj 3 3>;
			};
		};
	};

	soc {
		cooling-maps {
			soc_cpu0 {
				trip = <&socd_trip>;
				cooling-device =
					<&CPU0 (THERMAL_MAX_LIMIT-4)
						(THERMAL_MAX_LIMIT-4)>;
			};

			soc_cpu2 {
				trip = <&socd_trip>;
				cooling-device = <&cpu2_isolate 1 1>;
			};

			soc_cpu3 {
				trip = <&socd_trip>;
				cooling-device = <&cpu3_isolate 1 1>;
			};

			gpu_cdev {
				trip = <&socd_trip>;
				cooling-device = <&msm_gpu (THERMAL_MAX_LIMIT-2)
							(THERMAL_MAX_LIMIT-2)>;
			};
		};
	};
};
