&soc {
	mtl_rx_setup: rx-queues-config {
		snps,rx-queues-to-use = <1>;
		snps,rx-sched-sp;

		queue {
			snps,dcb-algorithm;
			snps,priority = <0x1>;
		};
	};

	mtl_tx_setup: tx-queues-config {
		snps,tx-queues-to-use = <1>;
		snps,tx-sched-sp;
		queue {
			snps,dcb-algorithm;
		};
	};

	emac0_hw: qcom,ethernet@23040000 {
		compatible = "qcom,stmmac-ethqos-emac0";
		emac-core-version = <0x30010000>;
		qcom,arm-smmu;
		reg = <0x23049000 0x1000>;
		reg-names = "stmmaceth";
		interrupts-extended = <&intc 0 945 4>, <&intc 0 944 4>,
			<&intc 0 943 4>, <&intc 0 942 4>,
			<&intc 0 941 4>, <&intc 0 940 4>,
			<&intc 0 939 4>, <&intc 0 938 4>,
			<&intc 0 859 4>,<&intc 0 863 4>,
			<&intc 0 866 4>,<&intc 0 869 4>,
			<&intc 0 870 4>,<&intc 0 871 4>,
			<&intc 0 872 4>,<&intc 0 858 4>;
		interrupt-names = "tx_ch0_intr", "tx_ch1_intr",
			"tx_ch2_intr", "tx_ch3_intr",
			"tx_ch4_intr", "tx_ch5_intr",
			"tx_ch6_intr", "tx_ch7_intr",
			"rx_ch0_intr","rx_ch1_intr",
			"rx_ch2_intr","rx_ch3_intr",
			"rx_ch4_intr","rx_ch5_intr",
			"rx_ch6_intr","rx_ch7_intr";

		snps,tso;
		snps,pbl = <32>;
		mac-address = [00 55 7B B5 7D f7];
		rx-fifo-depth = <4096>;
		tx-fifo-depth = <4096>;
		snps,mtl-rx-config = <&mtl_rx_setup>;
		snps,mtl-tx-config = <&mtl_tx_setup>;
		queue = <1>;
		emac0_emb_smmu: emac0_emb_smmu {
			compatible = "qcom,emac-thin-smmu-embedded";
			iommus = <&apps_smmu 0x122 0x1>;
			qcom,iommu-dma = "fastmap";
			qcom,iommu-dma-addr-pool = <0x80000000 0x40000000>;
		};
	};
};

&hab {
	vmid = <3>;
};

&usb0 {
	status = "ok";
};

&usb2_phy0 {
	status = "ok";
};

&usb_qmp_phy0 {
	status = "ok";
};

&qupv3_se2_4uart {
	status = "ok";
};

&qcom_rng_ee3 {
	status = "ok";
};

&pcie0 {
	status = "ok";
};

&pcie0_msi_snps {
	status = "ok";
};

&usb2 {
	status = "ok";
};

&usb2_phy2 {
	status = "ok";
};
