&chosen {
};

&arch_timer {
	clock-frequency = <500000>;
};

&memtimer {
	clock-frequency = <500000>;
};

&disp_rsc_0 {
	status = "nok";
};

&disp_rsc_1 {
	status = "nok";
};

&soc {
};

&qupv3_se5_2uart {
	qcom,rumi_platform;
};
