/dts-v1/;

#include "pineapple.dtsi"
#include "pineapple-qrd.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Pineapple QRD";
	compatible = "qcom,pineapple-qrd", "qcom,pineapple", "qcom,qrd";
	qcom,board-id = <11 0>;
};
