/dts-v1/;
/memreserve/ 0x90000000 0x00000100;

#include "pineapple.dtsi"
#include "pineapple-rumi.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Pineapple RUMI";
	compatible = "qcom,pineapple-rumi", "qcom,pineapple", "qcom,rumi";
	qcom,board-id = <15 0>;
};
