/dts-v1/;

#include "pineapple-oemvm.dtsi"
#include "pineapple-oemvm-mtp.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Pineapple OEMVM MTP";
	compatible = "qcom,pineapple-mtp", "qcom,pineapple", "qcom,mtp";
	qcom,board-id = <0x10008 0>;
};
