/dts-v1/;

#include "pineapple-oemvm.dtsi"
#include "pineapple-oemvm-rumi.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Pineapple OEMVM RUMI";
	compatible = "qcom,pineapple-rumi", "qcom,pineapple", "qcom,rumi";
	qcom,board-id = <15 0>;
};
