&arch_timer {
	clock-frequency = <192000>;
};

&memtimer {
	clock-frequency = <192000>;
};

&qupv3_se8_2uart {
	qcom,rumi_platform;
};

&SILVER_OFF {
	status = "nok";
};

&SILVER_RAIL_OFF {
	status = "nok";
};

&GOLD_OFF {
	status = "nok";
};

&GOLD_RAIL_OFF {
	status = "nok";
};

&CLUSTER_PWR_DN {
	status = "nok";
};
