/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Qualcomm Technologies, Inc. QCS405 EVB1 1000 IOT";
	qcom,board-id = <0x010020 0x0>;
};

&soc {
	gpio_keys {
		vol_mute {
			gpios = <&tlmm 19 GPIO_ACTIVE_LOW>;
		};
	};
};

