#include "sm6150.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SA6155P";
	qcom,msm-name = "SA6155P";
	qcom,msm-id = <377 0>, <380 0>;
};

&thermal_zones {
	cpuss-0 {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			cpu45-config {
				temperature = <115000>;
			};
		};
	};

	cpuss-1 {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			cpu23-config {
				temperature = <115000>;
			};
		};
	};

	cpuss-2 {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			cpu01-config {
				temperature = <115000>;
			};
		};
	};

	cpu-1-0 {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			cpu6-0-config {
				temperature = <115000>;
			};
		};
	};

	cpu-1-1 {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			cpu6-1-config {
				temperature = <115000>;
			};
		};
	};

	cpu-1-2 {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			cpu7-0-config {
				temperature = <115000>;
			};
		};
	};

	cpu-1-3 {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			cpu7-1-config {
				temperature = <115000>;
			};
		};
	};

	gpu {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			gpu-trip {
				temperature = <105000>;
			};

			gpu-cx-mon {
				temperature = <110000>;
			};
		};
	};

	q6-hvx {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			q6-hvx-trip1 {
				temperature = <105000>;
			};

			q6-hvx-cx-mon {
				temperature = <110000>;
			};
		};
	};

	mdm-core {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			mdm-core-cx-mon {
				temperature = <110000>;
			};
		};
	};

	camera {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			camera-cx-mon {
				temperature = <110000>;
			};
		};
	};

	wlan {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			wlan-cx-mon {
				temperature = <110000>;
			};
		};
	};

	display {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			display-cx-mon {
				temperature = <110000>;
			};
		};
	};

	video {
		trips {
			reset-mon-cfg {
				temperature = <118000>;
			};

			video-cx-mon {
				temperature = <110000>;
			};
		};
	};
};
