#include "quin-vm-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SA8155 Guest Virtual Machine";
	qcom,msm-name  = "SA8155 v2";
	qcom,msm-id = <362 0x20000>;

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		CPU0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
			capacity-dmips-mhz = <1024>;
		};

		CPU1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x1>;
			capacity-dmips-mhz = <1024>;
		};

		CPU2: cpu@2 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x2>;
			capacity-dmips-mhz = <1024>;
		};

		CPU3: cpu@3 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x3>;
			capacity-dmips-mhz = <1024>;
		};

		CPU4: cpu@4 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x4>;
			capacity-dmips-mhz = <414>;
		};

		CPU5: cpu@5 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x5>;
			capacity-dmips-mhz = <414>;
		};

		CPU6: cpu@6 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x6>;
			capacity-dmips-mhz = <414>;
		};

		CPU7: cpu@7 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x7>;
			capacity-dmips-mhz = <414>;
		};

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&CPU0>;
				};

				core1 {
					cpu = <&CPU1>;
				};

				core2 {
					cpu = <&CPU2>;
				};

				core3 {
					cpu = <&CPU3>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&CPU4>;
				};

				core1 {
					cpu = <&CPU5>;
				};

				core2 {
					cpu = <&CPU6>;
				};

				core3 {
					cpu = <&CPU7>;
				};
			};
		};
	};

	firmware: firmware {
		scm {
			compatible = "qcom,scm";
		};
	};
};

&soc {
	qtee_shmbridge {
		compatible = "qcom,tee-shared-memory-bridge";
	};

	qcom_qseecom: qseecom@87900000 {
		compatible = "qcom,qseecom";
		reg = <0x87900000 0x2200000>;
		reg-names = "secapp-region";
		memory-region = <&qseecom_mem>;
		qcom,hlos-num-ce-hw-instances = <1>;
		qcom,hlos-ce-hw-instance = <0>;
		qcom,qsee-ce-hw-instance = <0>;
		qcom,disk-encrypt-pipe-pair = <2>;
		qcom,no-clock-support;
		qcom,qsee-reentrancy-support = <2>;
	};
};

#include "sm8150-pinctrl.dtsi"

&tlmm {
	/delete-property/ wakeup-parent;
};

&regulator {
	virt_regulator {
		compatible = "virtio,device31";

		usb30_prim_gdsc: usb30_prim_gdsc {
			regulator-name = "usb30_prim_gdsc";
		};

		usb30_sec_gdsc: usb30_sec_gdsc {
			regulator-name = "usb30_sec_gdsc";
		};

		pcie_0_gdsc: pcie_0_gdsc {
			regulator-name = "pcie_0_gdsc";
		};

		pcie_1_gdsc: pcie_1_gdsc {
			regulator-name = "pcie_1_gdsc";
		};

		L2A: pm8150_1_l2: regulator-pm8150-1-l2 {
			regulator-name = "ldoa2";
			regulator-min-microvolt = <3072000>;
			regulator-max-microvolt = <3072000>;
		};

		L5A: pm8150_1_l5: regulator-pm8150-1-l5 {
			regulator-name = "ldoa5";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <880000>;
		};

		L12A: pm8150_1_l12: regulator-pm8150-1-l12 {
			regulator-name = "ldoa12";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		L17A: pm8150_1_l17: regulator-pm8150-1-l17 {
			regulator-name = "ldoa17";
			regulator-min-microvolt = <2704000>;
			regulator-max-microvolt = <2960000>;
		};

		L8C: pm8150_2_l8: regulator-pm8150-2-l8 {
			regulator-name = "ldoc8";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-allow-set-load;
		};

		L13C: pm8150_2_l13: regulator-pm8150-2-l13 {
			regulator-name = "ldoc13";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2960000>;
		};

		L15C: pm8150_2_l15: regulator-pm8150-2-l15 {
			regulator-name = "ldoc15";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1904000>;
		};

		L18C: pm8150_2_l18: regulator-pm8150-2-l18 {
			regulator-name = "ldoc18";
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <880000>;
			regulator-allow-set-load;
		};

		S6A: pm8150_1_s6: regulator-pm8150-1-s6 {
			regulator-name = "smpa6";
			regulator-min-microvolt = <600000>;
			regulator-max-microvolt = <1352000>;
		};

		S4C: pm8150_2_s4: regulator-pm8150-2-s4 {
			regulator-name = "smpc4";
			regulator-min-microvolt = <800000>;
			regulator-max-microvolt = <1400000>;
		};

		S5C: pm8150_2_s5: regulator-pm8150-2-s5 {
			regulator-name = "smpc5";
			regulator-min-microvolt = <1824000>;
			regulator-max-microvolt = <2040000>;
		};
	};
};
