&soc {
	pcie0: qcom,pcie@1bf0000 {
		status = "disabled";
		reg = <0x01bf0000 0x4000>,
			<0x01bf6000 0x2000>,
			<0x48000000 0xf1d>,
			<0x48000f20 0xa8>,
			<0x48001000  0x1000>,
			<0x48100000 0x100000>,
			<0x1bf4000 0x1000>,
			<0x1bf5000 0x1000>;
		reg-names = "parf", "phy", "dm_core", "elbi", "iatu",
				"conf", "mhi", "rumi";
		qcom,target-link-speed = <0x1>;
		qcom,link-check-max-count = <200>; /* 1 sec */
		qcom,no-l1-supported;
		qcom,no-l1ss-supported;
		qcom,no-l0s-supported;
		qcom,no-aux-clk-sync;
	};
};

&qupv3_se3_2uart {
	qcom,rumi_platform;
};
