#include <dt-bindings/gpio/gpio.h>

#include "pmk8550.dtsi"
#include "pmx75.dtsi"
#include "pm7550ba.dtsi"

/ {
	vreg_sdc1_sd_ls_vccb: sdc1-sd-ls-gpio-regulator {
		compatible = "regulator-gpio";
		regulator-name = "sdc1_sd_ls_vccb";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <2850000>;
		enable-gpio = <&tlmm 102 GPIO_ACTIVE_HIGH>;
		gpios = <&tlmm 84 GPIO_ACTIVE_HIGH>;
		states = <1800000 0>,
			 <2850000 1>;
		startup-delay-us = <5000>;
		enable-active-high;
	};

	vreg_sdc1_emmc_sd_vdd: sdc1-emmc-sd-fixed-regulator {
		compatible = "qcom,stub-regulator";
		regulator-name = "sdc1_emmc_sd_vdd";
		regulator-min-microvolt = <2950000>;
		regulator-max-microvolt = <2950000>;
		parent-supply = <&vreg_sdc1_sd_ls_vccb>;
	};

	vreg_sdc2_sd_ls_vccb: sdc2-sd-ls-gpio-regulator {
		compatible = "regulator-gpio";
		regulator-name = "sdc2_sd_ls_vccb";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <2850000>;
		enable-gpio = <&pmx75_gpios 12 GPIO_ACTIVE_HIGH>;
		gpios = <&tlmm 121 GPIO_ACTIVE_HIGH>;
		states = <1800000 0>,
			 <2850000 1>;
		startup-delay-us = <5000>;
		enable-active-high;
		status = "disabled";
	};

	vreg_sdc2_sd_vdd: sdc2-sd-fixed-regulator {
		compatible = "qcom,stub-regulator";
		regulator-name = "sdc2_sd_vdd";
		regulator-min-microvolt = <2950000>;
		regulator-max-microvolt = <2950000>;
		parent-supply = <&vreg_sdc2_sd_ls_vccb>;
		status = "disabled";
	};
};
