#include "sm8150.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SM8150 V2";
	qcom,msm-name = "SM8150 V2";
	qcom,msm-id = <339 0x20000>;
};

/delete-node/ &apps_smmu;
/delete-node/ &kgsl_smmu;

#include "msm-arm-smmu-sm8150-v2.dtsi"
