// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
 */

&VRM_S4J {
	status = "disabled";
};

&S4J {
	status = "disabled";
};

&VRM_S5F {
	status = "ok";
};

&S5F {
	status = "ok";
};

&pm8550vs_f {
	status = "disabled";
};

&pm8550vs_f_temp_alarm {
	status = "disabled";
};

&pm8550ve_f {
	status = "ok";
};

&pm8550ve_f_temp_alarm {
	status = "ok";
};

&apps_rsc_drv2 {
	rpmh-regulator-mxlvl {
		S8F_LEVEL: pm_v8f_s8_level: regulator-vdd-mxa-level {
			regulator-name = "pm_v8f_s8_level";
		};

		S8F_LEVEL_AO: pm_v8f_s8_level_ao: regulator-vdd-mxa-level-ao {
			regulator-name = "pm_v8f_s8_level_ao";
		};
	};

	rpmh-regulator-ldof1 {
		pm_v8f_l1: regulator-pm-vxf-l1 {
			regulator-name = "pm_v8f_l1";
		};
	};

	rpmh-regulator-ldof2 {
		pm_v8f_l2: regulator-pm-vxf-l2 {
			regulator-name = "pm_v8f_l2";
		};
	};

	rpmh-regulator-ldof3 {
		pm_v8f_l3: regulator-pm-vxf-l3 {
			regulator-name = "pm_v8f_l3";
		};
	};
};
