// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023 Qualcomm Innovation Center, Inc. All rights reserved.
 */
/dts-v1/;

#include "sun-oemvm.dtsi"
#include "sun-oemvm-qrd.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Sun OEMVM QRD";
	compatible = "qcom,sun-qrd", "qcom,sun", "qcom,qrd";
	qcom,board-id = <0x10008 0>;
};
