// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2022-2023 Qualcomm Innovation Center, Inc. All rights reserved.
 */

#include "sun.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. SunP SoC";
	compatible = "qcom,sunp";
	qcom,msm-id = <639 0x10000>;
};
