/dts-v1/;
/plugin/;

#include "volcano6i-qrd-moselle.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Volcano6I QRD +  WCD9378 AMIC + Amoled (SPI) + Moselle";
	compatible = "qcom,volcano-qrd", "qcom,volcano", "qcom,volcanop-qrd", "qcom,volcanop", "qcom,qrd";
	qcom,msm-id = <657 0x10000>, <658 0x10000>;
	qcom,board-id = <11 1>;
};
