#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/iio/qcom,spmi-adc5-gen3-pmxr2230.h>
#include <dt-bindings/iio/qcom,spmi-adc5-gen3-pm8550vx.h>
#include <dt-bindings/iio/qcom,spmi-adc5-gen3-smb139x.h>
#include <dt-bindings/spmi/spmi.h>

#include "pmk8550.dtsi"
#include "pmxr2230.dtsi"
#include "pm8550vs.dtsi"
#include "pmr735a.dtsi"
#include "pmr735b.dtsi"


&pm8550vs_d {
	status = "disabled";
};

&pm8550vs_d_temp_alarm {
	status = "disabled";
};

&pm8550vs_e {
	status = "disabled";
};

&pm8550vs_e_temp_alarm {
	status = "disabled";
};

&pm8550vs_g {
	status = "disabled";
};

&pm8550vs_g_temp_alarm {
	status = "disabled";
};
